body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

:root {
  --red: #e44747;
  --white: #fff;
  --light-green: #56c9aa;
  --green: #31906E;
  --grey: #b2beb5;
  --dark-grey: #597A95;
  --blue: #0d6efd;

  --text-size: 0.9rem;
  --label-size: 1rem;
  --error-size: 1rem;
  --navbar-brand-size: 2.2rem;
  --navbar-link-size: 0.9rem;
  --pagination-size: 0.9rem;
}

